*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #1c1c1c;
    color: #f5f5f5;
}

/* NAVBAR */
.navbar{
    background-color: #f3e7d8;
    padding: 16px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    background: #111;
    color: #fff;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.nav-links a{
    text-decoration: none;
    color: #111;
    font-weight: 500;
}

/* HERO */
.hero{
    padding: 80px 40px;
}

.hero-content {
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 60px;
}

/* PROFILE IMAGE */
.profile {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    border: 10px solid #f3e7d8;
    overflow: hidden;
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* TEXT */
.text h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.text h2{
    font-size: 32px;
    margin-bottom: 20px;
}

.text span {
    color: #f3e7d8;
}

.text p{
    line-height: 1.6;
    max-width: 500px;
    color: #ddd;
}

.cta{
position: fixed;
margin-top: 30px;
display: flex;
gap: 16px;
}
.btn {
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s ease;
}

.primary {
    background: #f3e7d8;
    color: #111;
}

.primary:hover{
    background: #e6d5c0;
}

.secondary {
    border: 1px solid #f3e7d8;
    color: #f3e7d8;
}

.secondary:hover{
    background: #f3e7d8;
    color: #111;
}

.skills{
    padding: 80px 40px;
    max-width: 1100px;
    margin: auto;
    font-family: sans-serif;
}

.skills h2 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #f3e7d8;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.skill {
    padding: 35px 18px;
    border: 1px solid #e6d5c0;
    border-radius: 20px;
    font-size: 14px;
    color: #f3e7d8;
    font-family: sans-serif;
}

.profile {
    transition: transform 0.3s ease;
}

.profile:hover{
    transform: scale(1.05);
}

.interested {
    padding: 80px 40px;
    max-width: 1100px;
    margin: auto;
}

.interested ul{
    list-style: none;
    margin-top: 20px;
}

.interested li{
    margin-bottom: 10px;
    color: #f3e7d8;
}

.footer {
    padding: 30px;
    text-align: center;
    color: #888;
    font-size: 14px;
}

@media (max-widht: 768px) {
    .hero-content{
        flex-direction: column;
        text-align: center;
    }

    .text p {
        max-width: 100%;
    }
}