*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #1c1c1c;
    color: #f5f5f5;
    margin: 0;
}

/* NAVBAR */
.navbar{
    background-color: #f3e7d8;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    background: #111;
    color: #fff;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.nav-links a{
    text-decoration: none;
    color: #111;
    font-weight: 500;
}

.nav-links a.active {
    color: #00ffd5;
}
/* HERO */
.hero{
    padding: 80px 40px;
}

.hero-content {
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 60px;
}

/* PROFILE IMAGE */
.profile {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    border: 10px solid #f3e7d8;
    overflow: hidden;
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* TEXT */
.text h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.text h2{
    font-size: 32px;
    margin-bottom: 20px;
}

.text span {
    color: #f3e7d8;
}

.text p{
    line-height: 1.6;
    max-width: 500px;
    color: #ddd;
}

.cta{
    position: relative;
    margin-top: 30px;
    display: flex;
    gap: 16px;
}
.btn {
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s ease;
}

.primary {
    background: #f3e7d8;
    color: #111;
}

.primary:hover{
    background: #e6d5c0;
}

.secondary {
    border: 1px solid #f3e7d8;
    color: #f3e7d8;
}

.secondary:hover{
    background: #f3e7d8;
    color: #111;
}

.skills{
    padding: 80px 40px;
    max-width: 1100px;
    margin: auto;
    font-family: sans-serif;
}

.skills h2 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #f3e7d8;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
}

.skill-list i {
    font-size: 20px;
    position: fixed;
}
.skill {
    padding: 35px 18px;
    border: 1px solid #e6d5c0;
    border-radius: 20px;
    font-size: 14px;
    color: #f3e7d8;
    font-family: sans-serif;
    transition: 0.3s;
}

.skill:hover {
    transform: translateY(-6px);
}

.profile {
    transition: transform 0.3s ease;
}

.profile:hover{
    transform: scale(1.05);
}

.interested {
    padding: 80px 40px;
    max-width: 1100px;
    margin: auto;
}

.interested ul{
    list-style: none;
    margin-top: 20px;
}

.interested li{
    margin-bottom: 10px;
    color: #f3e7d8;
}

.footer {
    padding: 30px;
    text-align: center;
    color: #888;
    font-size: 14px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px 0;
}

.social a {
    font-size: 24px;
    color: #e6d5c0;
    transition: 0.3s;
}

.social a:hover {
    color: #00ffd5;
    transform: translateY(-4px);
}

/*SCROLL ANIMATION*/
.skills, .interested, .hero{
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}


@media (max-widht: 768px) {
    .hero-content{
        flex-direction: column;
        text-align: center;
    }

    .text p {
        max-width: 100%;
    }
}

.project {
    padding: 80px 10%;
}

.project h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 24px;
}

.project-card {
    background: #111;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

.project-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 20px;
}

.project-card a {
    display: inline-block;
    padding: 10px 18px;
    border-radius: 999px;
    text-decoration: none;
    font-size: 14px;
    background: #e6d5c0;
    color: #1c1c1c;
    transition: 0.3s;
}

.project-card a:hover {
    background: #554ee6;
}